*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
}
html
{
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}